{% load static %}
{% load i18n %}

<div class="jumbotron jumbotron-fluid jumbotron-overlay jumbotron header spacer-n">
  <div class="jumbotron-bg-wrapper">
    {% static 'common/images/home/header-background.jpg' as header_default %}
    <img class="jumbotron-bg" src="{% firstof frontpage_header.url header_default %}" alt="{{ frontpage_header.text }}">
  </div>
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <div class="jumbotron-body">
          <div class="spacer"></div>
          <a href="{{ film.url }}">
            <img class="mb-3 me-n3 film-logo" src="{{ film.logo.url }}" alt="{{ film.title }} Logo">
          </a>
          <div class="mb-2">
            <!-- <button href="https://youtube.com/watch?v=_cMxraX_5RE" class="btn btn-sprites me-2 mb-2 video-modal-link" data-bs-toggle="modal" data-bs-target="#videoModal" data-video="https://www.youtube.com/watch?v=_cMxraX_5RE" rel="nofollow" target="_blank">Watch Sprite Fright</button> -->
            <a href="{{ film.url }}" class="btn btn-primary mb-2">{% blocktrans %}See the project{% endblocktrans %}</a>
            
            {% comment "Read the announcement" %} 
            {% if frontpage_secondary_cta_text.text %}
            <a href="{{ frontpage_secondary_cta_link.text }}" class="btn btn-transparent mx-2 mb-2">{{ frontpage_secondary_cta_text.text }}</a>
            {% endif %} 
            {% endcomment %}
          </div>
          <p class="mb-3">{{ film.summary }}</p>
          <div class="spacer"></div>
        </div>
      </div>
    </div>
  </div>

</div>
