.activity-list-wrapper {
  border-radius: $border-radius;
  padding: $spacer;
}

.activity-list {
  background: $navigation-gray;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  padding: var(--spacer-sm);
}

.activity-list-item {
  border-radius: var(--border-radius) !important;
  color: var(--body-color-secondary) !important;
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--spacer-sm);
  padding: var(--spacer-sm);
  position: relative;
  transition: $transition-base;
  opacity: .5;
  width: 100%;

  &:hover {
    background-color: var(--component-bg-light);
    text-decoration: none;
  }

  em {
    font-style: normal;
  }

  .description, .icon, .date {
    padding: var(--spacer-xs);
  }

  .description {
    flex: 1;
    line-height: 1.2;
  }

  .date {
    color: var(--body-color-tertiary);
    margin-left: var(--spacer-sm);
    text-align: right;
  }

  .icon {
    margin-right: var(--spacer-xs);
  }

  .icon, .i-liked {
    color: inherit;
  }

  &.unread {
    opacity: 1;

    em {
      color: var(--body-color) !important;
    }
  }
}

.activity-list-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  .activity-list-item+.markasread {
    margin-right: $spacer / 2;
  }
}

.notification-dropdown {
  flex-direction: column;
  font-size: var(--font-size-sm);
  max-height: calc(100vh - var(--spacer));
  width: 500px;

  &.show {
    display: flex;
  }
}

.scroll {
  .notification-dropdown {
    max-height: calc(100vh - #{$navbar-height + $spacer * 4});
  }
}

.notification-button {
  @extend .search-button!optional;
  position: relative;
}

.notifications-counter {
  background: var(--color-danger);
  border-radius: var(--border-radius);
  color: white;
  font-size: var(--font-size-xs);
  padding: 1px 3px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  @include font-weight(500);
}

.dropdown-item.unread {
  color: $primary;
}

.material-icons {
  &.unread {
    color: $primary;
  }
}
