.production-log-week {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer;
  padding: $spacer 0 0;

  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }

  .btn-admin {
    opacity: 0;
  }

  .production-log-week-header:hover .btn-admin,
  .production-log-individual-files:hover .btn-admin{
    opacity: 1;
  }
}


.production-log-week-header {
  position: relative;
  border-bottom: 2px solid $input-gray;

  h2,
  .h2 {
    margin-bottom: 0;
  }
}

.production-log-individual {
  padding: $spacer 0;
  position: relative;
  border-bottom: 2px solid $navigation-gray;

  &-summary {

    position: relative;

    // @include media-breakpoint-up(md) {
    //   padding-left: calc(#{$spacer} * 1.5);
    // }

    // >*:last-child {
    //   margin-bottom: $spacer;
    // }

    >a {
      display: inline-block;
    }
  }

  &-files {
    // @include media-breakpoint-up(md) {
    //   padding-left: 0;
    // }

    .files {
      // @include media-breakpoint-up(md) {
      //   padding: $spacer $spacer 0 $spacer / 2;
      // }
      margin-bottom: - $spacer;
      padding: 0;
    }
  }

}

.production-log-individual-files {
  >a {
    display: inline-block;
  }
}

.production-log-header-summary-text {
  h3 {
    margin-bottom: $spacer / 4;
  }

  &-inner-wrapper {
    margin-bottom: $spacer / 2;

    >* {
      display: inline;
    }
  }
}

.production-log-header-summary-image {

  @include media-breakpoint-down(sm) {
    margin: #{-$spacer} #{-$spacer} 0 #{-$spacer};
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
  }

  >*:last-child {
    margin-bottom: $spacer;
  }

  img {
    @extend .img-fluid;

    width: 100%;
    border-radius: $border-radius;

    @include media-breakpoint-down(sm) {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  >a {
    display: inline-block;
    width: 100%;
  }
}

.production-log-individual-files-show-more {
  margin-bottom: $spacer / 2;
  margin-top: - $spacer / 4;
  position: relative;
}

.add-entry {
  margin-bottom: $spacer / 2;
}
