{% extends 'training/base_training.html' %}

{% load static %}
{% load pipeline %}
{% load common_extras %}
{% load i18n %}

{% block title_prepend %}{% blocktrans %}Training{% endblocktrans %} - {% endblock title_prepend %}

{% block meta %}
  {% static 'training/images/placeholders/opengraph.jpg' as image_path %}
  {% absolute_url image_path as image_url %}
  {% with title="Training" description="Learn from our expert team. Courses, workshops and production lessons with .blend files included." %}
    {% include 'common/components/meta.html' %}
  {% endwith %}
{% endblock %}

{% block jumbotron %}
  {% include 'training/components/jumbotron.html' %}
{% endblock jumbotron %}

{% block content %}
  <div class="container-xxl pt-2 pt-md-3">

     <section>
      <div class="row">
        <div class="col mb-3">
          <h2 class="mb-0">{% blocktrans %}Featured Training{% endblocktrans %}</h2>
        </div>
      </div>
      <div class="row">
        {% for training in featured_trainings|slice:':3' %}
          {% include "common/components/cards/card_training.html" with training=training %}
        {% endfor %}
      </div>
    </section>

    <section>
      <div class="row">
        <div class="col mb-3">
          <h2 class="mb-0">{% blocktrans %}All Training{% endblocktrans %}</h2>
        </div>
        <div class="col-auto mb-3">
          <div class="input-group input-group-sm" id="sorting">
            <div class="input-group-prepend">
              <label class="input-group-text" for="searchLicence">{% blocktrans %}Sort by:{% endblocktrans %}</label>
            </div>
          </div>
        </div>
      </div>

      <div id="search" class="row">

        <div class="col-md-6 mb-3">
          {% include "search/components/input.html" %}
        </div>

        <div id="search_type" class="col-md-3 col-6 mb-3"></div>

        <div id="search_difficulty" class="col-md-3 col-6 mb-3"></div>
      </div>

      {% comment "meilisearch" %} <div class="row" id="hits"></div> {% endcomment %}
      <div class="row">
        {% for training in all_trainings %}
          {% include "training/components/card_training.html" with training=training %}
        {% endfor %}
      </div>

    </section>
  </div>

{% endblock content %}

{% block scripts %}
  {% javascript 'vendor_instantsearch' %}
  {{ favorited_training_ids|json_script:"training-favorited-ids" }}
  {{ search_client_config|json_script:"training-search-client-config" }}
  {% javascript 'training' %}
  {% javascript 'training_search' %}

{% endblock scripts %}
