{% extends 'training/base_with_navigation.html' %}
{% load static %}
{% load pipeline %}
{% load common_extras %}
{% load i18n %}

{% block title_prepend %}{{ training.name }} - {% endblock title_prepend %}

{% block scripts %}
  {{ block.super }}
  {% javascript 'training' %}
{% endblock scripts %}

{% block training_header_image %}
{% if training.picture_header_url %}
<div class="container-xxl nested-navigation">
  <div class="row mt-3">
    <div class="col">
      <img src="{{ training.picture_header_url }}" class="img-fluid img-width-100 rounded" alt="{{ training.name }}">
    </div>
  </div>
</div>
{% endif %}
{% endblock training_header_image %}

{% block nexted_content %}
  <section>
    <div class="row">
      <div class="col">
        <div class="row align-items-start mb-2">
          <div class="col-12 col-md">
            <h1 class="mb-0">{{ training.name }}</h1>
          </div>
          <div class="col-12 col-md-auto align-self-end">
            <div class="button-toolbar-container">

              <div class="pills button-toolbar-pills ms-3">
                {% if training.is_free %}
                  {% include "common/components/cards/pill.html" with label='Free' %}
                {% endif %}
                {% for tag in training.tags_list %}
                  {% include 'common/components/cards/pill.html' with label=tag %}
                {% endfor %}
              </div>

              <div class="button-toolbar">
                {% if request.user.is_authenticated %}
                  <a class="btn btn-sm save-button {% if not training.favorited %}btn-dark{% else %}btn-primary{% endif %}"
                    data-favorite-url="{{ training.favorite_url }}" {% if training.favorited %}data-checked="checked"
                    {% endif %} data-bs-toggle="tooltip" {% if training.favorited %}title={% blocktrans %}"Save for later"{% endblocktrans %}
                    {% else %}title={% blocktrans %}" Remove from saved for later"{% endblocktrans %} {% endif %}>
                    <i class="i-{% if not training.favorited %}plus{% else %}check{% endif %}"></i>
                    <span>{% if not training.favorited %}{% blocktrans %}Save{% endblocktrans %}{% else %}{% blocktrans %}Saved{% endblocktrans %}{% endif %}</span>
                  </a>
                {% endif %}

                {% if user.is_staff %}
                  <a href="{{ training.admin_url }}" class="btn btn-sm btn-icon btn-dark">
                    <i class="i-edit btn-material-icons"></i>
                    <span>{% blocktrans %}Edit{% endblocktrans %}</span>
                  </a>
                {% endif %}

                <button data-bs-toggle="dropdown" class="btn btn-sm btn-icon btn-dark">
                  <i class="material-icons btn-material-icons">more_horiz</i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <a href="https://projects.blender.org/studio/blender-studio/issues/new" target="_blank"
                    class="dropdown-item">
                    <i class="i-flag"></i>
                    <span>{% blocktrans %}Report Problem{% endblocktrans %}</span>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <section class="mb-3 markdown-text">{% with_shortcodes training.summary_rendered %}</section>
      </div>


    </div>
    {% comment %}
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="mb-3">About this {{ training.type.label }}</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="row mb-2">
                    <div class="col-auto pe-0">
                      <img src="{% static 'common/images/blank-profile-pic.jpg' %}" class="profile-avatar">
                    </div>
                    <div class="col-auto">
                      <h4 class="comment-name mb-0">Mike Newbon</h4>
                      <p class="subtitle x-small">Author</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="mb-0">Blender Artist. Co-Founder of blendFX. Shading, Pipeline, Tracking, Python Scripting.
                        Also: Knitting.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <table class="table table-sm mb-0">
                    <tbody>
                      <tr>
                        <td class="fw-bold">Difficulty</td>
                        <td class="text-end">
                          <div class="badge badge-difficulty badge-{{ training.difficulty.value }}">
                            <i class="material-icons btn-material-icons">extension</i>
                            {{ training.difficulty.label }}
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Last updated</td>
                        <td class="text-end">{{ training.date_updated|date:"N jS, Y" }}</td>
                      </tr>
                      <tr>
                        <td class="fw-bold">Estimated duration</td>
                        <td class="text-end">4h 32m</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endcomment %}
  </section>
{% endblock nexted_content %}
