{% load pipeline %}
{% load static %}
{% load common_extras %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'common/images/favicon/favicon.ico' %}">
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />

    <title>{% block title_prepend %}{% endblock title_prepend %}Blender Studio{% block title_append %}{% endblock title_append %}</title>
    <meta name="google-site-verification" content="r-8DuUEYwMyb14SRVj0I4mSUSEPmdRRMrT-zMSbFkas">

    {% block meta %}
      {% include 'common/components/meta.html' %}
    {% endblock meta %}

    {% stylesheet 'studio' %}

    {% block head_style_extras %}
    {% endblock head_style_extras %}

    {% block html_templates %}
      <template id="comment-template">
        {% include 'comments/components/comment.html' %}
      </template>

      <template id="comment-reply-input-template">
        {% include 'comments/components/comment_input.html' with div_class='comment-reply-input' %}
      </template>

      <template id="comment-edit-input-template">
        {% include 'comments/components/comment_input.html' with div_class='comment-edit-input' %}
      </template>
      {% comment %} This is here to stop the comment_input causing code-editor issues {% endcomment %}
    {% endblock %}
  </head>

  <body class="spacer {% block bodyclasses %}{% endblock bodyclasses %}"
    data-authenticated="{% if request.user.is_authenticated %}true{% else%}false{% endif %}">
    <!-- When the body has a nav-drawer, it should have the class 'has-nav-drawer' and when it's wide, 'has-nav-drawer nav-drawer-wide' -->
    <div class="progress global-progress">
      <div class="progress-bar" role="progressbar" aria-label="Page loading progress" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>

    {% include 'common/components/navbar.html' %}

    {% block secondary_nav %}{% endblock secondary_nav %}

    {% block jumbotron %}{% endblock jumbotron %}


    {% block nav_drawer %}
    <nav class="nav-drawer">
        <div class="nav-drawer-body">
          <div class="navbar-secondary d-md-none">
            <div class="navdrawer-offset">
              <div class="container-fluid px-2 py-1">
                <div class="row ">

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="{% url 'film-list' %}">
                      <span>Films</span>
                    </a>
                  </div>

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="{% url 'training-home' %}">
                      <span>Training</span>
                    </a>
                  </div>

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="{% url 'post-list' %}">Blog</a>
                  </div>

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="/pipeline/">Pipeline and Tools</a>
                  </div>

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="{% url 'character-list' %}">Characters</a>
                  </div>

                  <div class="col-6 p-0">
                    <a class="h3 drawer-nav-dropdown" href="{% url 'search' %}">Search</a>
                  </div>

                  {% if not request.user.is_authenticated %}

                    <div class="col-6 p-0">
                      <a class="h3 drawer-nav-dropdown" href="{% url 'oauth:login' %}">Login</a>
                    </div>

                    <div class="col-6 p-0">
                      <a class="h3 drawer-nav-dropdown text-primary" href="{% url 'oauth:login' %}">Join</a>
                    </div>

                  {% else %}

                    <div class="col-6 p-0">
                      <a class="h3 drawer-nav-dropdown" href="{% url 'user-notification' %}">Notifications</a>
                    </div>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>

          {% block nav_drawer_inner %}
          {% endblock nav_drawer_inner %}
        </div>
      </nav>
    {% endblock nav_drawer %}

    <div class="content-holder navdrawer-offset">
      {% block breadcrumbs %}{% endblock breadcrumbs %}
      {% block content %}{% endblock content %}
    </div>

    {% block footer %}
      {% include 'common/components/navigation/footer.html' %}
    {% endblock footer %}

    <div id="file-modal" class="modal modal-asset" tabindex="-1" role="dialog" aria-hidden="true">
      {# This is the modal div, the contents from "modal_asset.html" are inserted here. #}
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div id="file-zoom-modal" class="modal modal-asset-zoom" tabindex="-1" role="dialog" aria-hidden="true">
      {# This is the zoom modal div, the contents from "modal_asset_zoom.html" are inserted here. #}
    </div>

    <div id="videoModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <button class="modal-navigation modal-close btn btn-icon btn-lg" data-bs-dismiss="modal">
        <i class="material-icons btn-material-icons">close</i>
      </button>
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-dark">
          <div class="modal-body p-0">
            <div class="ratio ratio-16x9 js-youtube-embed">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="image-zoom-modal" class="modal modal-asset-zoom" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
          <div class="modal-header p-0">
            <div class="button-toolbar">
              <button data-bs-dismiss="modal" class="btn btn-sm btn-icon btn-dark">
                <i class="material-icons">close</i>
              </button>
            </div>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>

    </div>

    {{ user_dict|json_script:"current-user" }}
    {% javascript 'vendor' %}
    {% javascript 'studio' %}

    {% block scripts %}{% endblock scripts %}
    <script defer data-domain="studio.blender.org" src="https://analytics.blender.org/js/script.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '{{ settings_analytics_id }}');

    </script>

    <script>
      // Humanizes dates
      document.querySelectorAll('.date').forEach(i => {
        i.textContent = timeDifference(epochToDate(i.textContent));
      });
    </script>

    <script>
      initVideo(document);
    </script>

    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    <script>
      // Init tooltips
      const tooltipTriggerList = [...document.querySelectorAll('[data-bs-toggle="tooltip"]')];
      const tooltipList = tooltipTriggerList.map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
  </body>
</html>
