{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="content-holder navdrawer-offset">
    <div class="container-fluid pt-4">
      <section class="flat-page-content mb-4">
        <div class="row justify-content-center mb-3">
          <div class="col-md-6 text-center">
            <h1 class="mb-0">{% blocktrans %}Terms and Conditions{% endblocktrans %}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>
              {% blocktrans %}The Blender Studio ('we' or 'us', or 'the Service') is an open production funding/donation platform that offers access for registered members to project space and repositories of creative content and data. By registering as a member or by using the service in any way, you accept these Terms of Service ("Agreement"), which forms a binding agreement between you and the Blender Studio. If you do not wish to be bound by this Agreement, do not use the Blender Studio Service.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Blender Studio is an activity of Blender Institute B.V. - Buikslotermeerplein 161 - 1025 ET Amsterdam - the Netherlands, contact: institute@blender.org.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Blender Institute has been authorised by Stichting Blender Foundation to conduct these services on blender.org. Blender Institute is committed to comply to and support the goals of the public benefit free/open source project and community at blender.org.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Registration, the Blender ID{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}By registration at the Blender Studio, your email address will become the identification ("Blender ID") for services on blender.org in general. Registration is free, and only requires a confirmation of the owner of the email address - by responding to an authentication email.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Blender Studio currently offers no additional services for Blender ID registrations. These might be offered later, and will always be approved by Blender Foundation and be offered as opt-in.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Badges: Supporters and Members{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}After registration to the Blender Studio, a user will get options to upgrade his account with a number of options. Currently these options are for supporting, crediting or membership. All options are called "Badges" - which will be used to show as a special property (icon) as part of your Blender ID - for these places at blender.org that support it (forums or reviews).{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}The Membership Badge is based on a monthly subscription, which can be applied for via recurring payments or via a pre-payment. Members get access to all services of Blender Studio, which includes previous Open Movies, Open Workshop videos and the current running Open Production. By keeping your membership active a user can earn a Credit Badge. Rules for this will be mentioned on the campaign page for an Open Production.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}The other Badges are sold as special 'funding perks' - such as access to a film download, an online screening or a film/website credit. A supporter can choose to claim a badge, and only agree to pay for it after the production campaign reached its funding limit.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Blender Studio Membership fee{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}To register and activate a membership an additional charge will apply, including a minimum of 1 month of membership fees. Fees are: (Apr 09, 2020){% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}9.90 EUR/month for subscription with automatic renewal and 14.90 EUR/month for subscriptions with manual renewal.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Refund policy{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}Membership fees and supporter contributions are non-refundable. That money we really need to keep our services running, and to make open source and open content productions possible.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}We really care about our members and supporters though - in case you are really not happy with our Blender Studio we will kindly respond to your comments and try to settle a dispute with you in harmony.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Refunds will happen without delay when we get a report of fraud, abuse or non-authorised usage of funds.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Contact: cloudsupport@blender.org.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Blender Studio Membership cancellation{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}You may delete your account at any time via your personal account page, or by contacting us at cloudsupport@blender.org.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}In case of suspected fraud or abuse of the service after registration and membership payment, the account owner will be contacted and asked for clarification. Failure to alleviate charges of fraud may result in the termination of the member's account.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}In the event of account deletion for any reason, content that you submitted may no longer be available. The Blender Studio shall not be responsible for the loss of such content.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Blender Studio licences{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}Unless notified otherwise, all digital content (webpages, video, artwork, 3D data) is available under the Creative Commons Attribution 4.0.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}All software provided on Blender Studio will be under a free and open license as recognised as such by the Free Software Foundation.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Trademarks and logos - including the Blender logo - are copyrighted properties, with all rights reserved by its owners.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Indemnification{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}You will indemnify, defend, and hold harmless the Blender Studio and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: arise from your activities on the Blender Studio Service; assert a violation by you of any term of this Agreement; or assert that any content you submitted to the Blender Studio violates any law or infringes any third party right, including any intellectual property or privacy right.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Availability of the service{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}The Blender Studio is not responsible for any damages resulting from the unavailability of the Service.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Modification{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}This Agreement may not be modified except by a revised Terms of Service posted by the Blender Studio on the Blender Studio Site or a written amendment signed by an authorized representative of the Blender Studio. A revised Terms of Service will be effective as of the date it is posted on the Blender Studio Site.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}THE BLENDER STUDIO WILL NOT BE LIABLE FOR ANY LOSS OF INCOME, LOSS OF PROFITS, LOSS OF CONTRACTS, LOSS OF DATA OR FOR ANY INDIRECT, INCIDENTAL, EXEMPLARY, SPECIAL, PUNITIVE OR CONSEQUENTIAL LOSS OR DAMAGE OF ANY KIND HOWSOEVER ARISING AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT, WARRANTY OR OTHERWISE. OUR MAXIMUM AGGREGATE LIABILITY UNDER THESE TERMS AND CONDITIONS WHETHER IN TORT (INCLUDING NEGLIGENCE) OR OTHERWISE SHALL IN NO CIRCUMSTANCES EXCEED YOUR ANNUAL MEMBERSHIP FEE.{% endblocktrans %}
            </p>
            <h2>{% blocktrans %}Disputes{% endblocktrans %}</h2>
            <p>
              {% blocktrans %}These Terms and any Additional Terms are governed by and construed by the laws of the Netherlands exclusively. The parties agree that any disputes or proceedings between us and you concerning these Terms, any Additional Terms, and/or any of the Websites or Services shall be brought in a court of competent jurisdiction sitting in the Netherlands, and hereby consent to the personal jurisdiction and venue of such court.{% endblocktrans %}
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
