{% load common_extras %}
{% load i18n %}

{% with character_version=character.latest_version %}
  {% with character_version.get_absolute_url as detail_url %}
    <div class="card">
      <div class="card-header">
        <a class="card-header-link" href="{{ detail_url }}" aria-label="{{ character.name }}">
          {% if character_version.static_asset.thumbnail %}
            {% block image %}
              <img alt="{{ character.name }}" class="card-img" src="{{ character_version.static_asset.thumbnail_m_url }}">
            {% endblock image %}
          {% endif %}
        </a>
      </div>

      <a href="{{ detail_url }}" class="card-body">
        <h3 class="card-title">
          {% if character.is_new and character.is_published %}
            <div class="badge bg-primary">{% blocktrans %}New{% endblocktrans %}</div>
          {% endif %}
          {{ character.name }}
        </h3>
        <p class="card-text">{{ character_version.description|unmarkdown|truncatewords:"50" }}</p>
      </a>

      <a href="{{ detail_url }}" class="card-footer">
        <div class="card-subtitle-group">
          {% if not character.is_published or not character_version.is_published %}
            <span class="badge bg-danger me-2">
              {% blocktrans %}Unpublished{% endblocktrans %}
            </span>
          {% endif %}
          {% if character_version.is_free %}
            <span class="card-subtitle">
              {% include "common/components/cards/pill.html" with label=_('Free') %}
            </span>
          {% endif %}
          {% if character.likes.count > 0 %}
            <span class="card-subtitle">
              {% if character.liked %}
                <i class="i-heart-filled icon-inline small is-liked"></i>
              {% else %}
                <i class="i-heart icon-inline small"></i>
              {% endif %}
              {{ character.likes.count }}
            </span>
          {% endif %}
          {% if character_version.comments.count > 0 %}
            <span class="card-subtitle">
              <i class="material-icons icon-inline small">chat_bubble_outline</i>
              {{ character_version.comments.count }}
            </span>
          {% endif %}
        </div>
      </a>
    </div>
  {% endwith %}
{% endwith %}
