{% extends 'users/settings/base.html' %}
{% load i18n %}

{% block settings %}
  {% with can_be_deleted=user.can_be_deleted %}

    <p class="subtitle">{% blocktrans %}Settings{% endblocktrans %}</p>
    <h1 class="mb-3">{% blocktrans %}Delete account{% endblocktrans %}</h1>
    <div class="settings-form">
      <div class="row">
        <div class="col">
          <!--h2 class="mb-0">Delete my account and all data linked to it</h2-->
          <div>
            <p>
              {% blocktrans %}You can request deletion of your account in {% endblocktrans %}<a href="{{ BLENDER_ID.BASE_URL }}">Blender ID</a>.
            </p>
            {% if not can_be_deleted %}
              <div class="alert alert-danger" role="alert">
                <i class="material-icons align-middle me-1">info</i>
                <span>{% blocktrans %}Note that your account has publicly visible content, such as blog posts or assets, that cannot be deleted from Blender Studio.{% endblocktrans %}</span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  {% endwith %}
{% endblock settings %}
