{% load i18n %}
{% load common_extras %}

<div class="comment-section" data-comment-url="{{ comments.comment_url }}">
  {% if user|has_active_subscription %}
    {% include 'comments/components/comment_input.html' with div_class='comment-main-input' %}
  {% else %}
    <div class="comment-input row" onkeydown="event.stopPropagation()">
      <div class="col">
        <div class="comment-input-div disabled form-control" contenteditable="false">
          <p class="mb-0"><a href="{% url 'stripe' %}">{% blocktrans %}Join{% endblocktrans %}</a> {% blocktrans %}to comment publicly.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="comment-send col-auto ps-0">
        <button disabled class="btn-input btn-sm btn btn-sm btn-icon disabled">
          <i class="i-send"></i>
        </button>
      </div>
    </div>
  {% endif %}

  <div class="comments">
    {% if comments.number_of_comments %}
      <h3 class="text-muted">{{ comments.number_of_comments }} {% blocktrans %}comment{% endblocktrans %} {% comment %}{{ comments.number_of_comments|pluralize }}{% endcomment %}</h3>
    {% endif %}

    {% include 'comments/components/comment_tree.html' with comment_trees=comments.comment_trees %}
  </div>
</div>
