<footer class="container-nav py-2">
  <div class="bg-navigation">
    <div class="navdrawer-offset">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-auto">
              <a href="/terms-and-conditions">Terms &amp; Conditions</a>
            </div>
            <div class="col-auto">
              <a href="/privacy">Privacy Policy</a>
            </div>
            <div class="col-auto">
              <a href="https://www.blender.org/" target="_blank">blender.org</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
