{% load static %}
{% load i18n %}
{% load common_extras %}

{% get_featured as featured %}
<footer class="py-4 container-nav">
  <div class="navdrawer-offset">
    <div class="footer-inner">
      <div class="row">
        <div class="col-md-8 offset-lg-1">
          <div class="row text-white">

            <div class="col-md-3 col-6">
              <ul class="subtitle">
                <li class="mb-2">
                  <a class="text-white" href="{% url 'film-list' %}">{% blocktrans %}Films{% endblocktrans %}</a>
                </li>
                <li class="mb-2">
                  <a class="text-white" href="{% url 'training-home' %}">{% blocktrans %}Training{% endblocktrans %}</a>
                </li>
                <li class="mb-2">
                  <a class="text-white" href="{% url 'post-list' %}">{% blocktrans %}Blog{% endblocktrans %}</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              {% comment "Pipeline" %}
                <a class="text-white" href="/pipeline/">
              {% endcomment %}
              <a class="text-white" href="/">{% blocktrans %}Pipeline and Tools{% endblocktrans %}</a>
              <ul class="mb-0">
                <li>
                  <a href="https://gitlab.com/blender/CloudRig" class="small text-muted" rel="nofollow" target="_blank">{% blocktrans %}Cloud Rig{% endblocktrans %}</a>
                </li>
                {% comment "Pipeline" %}
                  a href="/blog/kitsu-addon-for-blender/"
                {% endcomment %}
                <li>
                  <a href="https://studio.blender.org/pipeline/addons/blender_kitsu" class="small text-muted" rel="nofollow" target="_blank">{% blocktrans %}Blender Kitsu{% endblocktrans %}</a>
                </li>
                {% comment "Pipeline" %}
                  a href="/blog/contact-sheet-addon/"
                {% endcomment %}
                <li>
                  <a href="https://studio.blender.org/pipeline/addons/contactsheet" class="small text-muted" rel="nofollow" target="_blank">{% blocktrans %}Contact Sheet Add-on{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="https://developer.blender.org/diffusion/BSTS/browse/master/blender-purge/" class="small text-muted" rel="nofollow" target="_blank">{% blocktrans %}Blender Purge{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="https://cloud.blender.org/services" class="small text-muted" rel="nofollow" target="_blank">{% blocktrans %}Blender Cloud Services{% endblocktrans %}</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <a class="text-white" href="{% url 'character-list' %}">{% blocktrans %}Characters{% endblocktrans %}</a>
              <ul>
                {% for character in featured.characters|slice:":4" %}
                  <li>
                    <a href="{% url 'character-detail' slug=character.slug %}" class="small text-muted">{{ character.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="col-md-3 col-6">
              <a class="text-white" href="/">{% blocktrans %}Studio{% endblocktrans %}</a>
              <ul class="mb-0">
                <li>
                  <a href="/terms-and-conditions" class="small text-muted">{% blocktrans %}Terms &amp; Conditions{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="/privacy" class="small text-muted">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="/contact" class="small text-muted">{% blocktrans %}Contact{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="/remixing/" class="small text-muted">{% blocktrans %}Remixing Music{% endblocktrans %}</a>
                </li>
                <li>
                  <a href="https://www.blender.org/" target="_blank" class="small text-muted">{% blocktrans %}blender.org{% endblocktrans %}</a>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mb-4 mb-md-0 d-flex flex-column">
          <a href="/" class="text-white">
            <h2 class="mb-0">{% blocktrans %}Blender Studio{% endblocktrans %}</h2>
          </a>

          <p class="text-muted">{% blocktrans %}The creators who share.{% endblocktrans %}</p>

          <div class="footer-social-media">
            <a href="https://www.facebook.com/BlenderStudioOfficial/" target="_blank" class="me-3">
              <img alt="Facebook Logo" src="{% static 'common/images/icons/facebook.svg' %}">
            </a>
            <a href="https://twitter.com/BlenderStudio_" target="_blank" class="me-3">
              <img alt="Twitter Logo" src="{% static 'common/images/icons/twitter.svg' %}">
            </a>
            <a href="https://www.youtube.com/@BlenderStudio" target="_blank">
              <img alt="YouTube Logo" src="{% static 'common/images/icons/youtube.svg' %}">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
