{% load i18n %}
<footer class="container-nav py-2">
  <div class="row ">

    <div class="col-12">
      <div class="row">
        <div class="col-auto">
          <a href="/terms-and-conditions">{% blocktrans %}Terms &amp; Conditions{% endblocktrans %}</a>
        </div>
        <div class="col-auto">
          <a href="/privacy">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
        </div>
        <div class="col-auto">
          <a href="https://www.blender.org/" target="_blank">{% blocktrans %}blender.org{% endblocktrans %}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
